@model IEnumerable<ParaglidingProject.Models.Traineeship>

@{
    ViewData["Title"] = "Stages";
}


<h1>Stages</h1>

<p>
    <a asp-action="Create" class="create">Créer un nouveau stage</a>
</p>
<table class="table" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.License.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.License.Title)
                </td>
                <td>
                    <a class="styleLink" asp-action="Edit" asp-route-id="@item.ID">Editer</a> |
                    <a class="styleLink" asp-action="Details" asp-route-id="@item.ID">Détails</a> |
                    <a class="styleLink" asp-action="Delete" asp-route-id="@item.ID">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
