@model ParaglidingProject.Models.Site

@{
    ViewData["Title"] = "Details du site";
}

<h1>Details du site de @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orientation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orientation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AltitudeTakeOff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AltitudeTakeOff)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApproachManeuver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApproachManeuver)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SiteGeoCoordinate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SiteGeoCoordinate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Level.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TakeOffFlights)
        </dt>
        <dd class="col-sm-10">
            <table class="table" cellspacing="0">
                <tr>
                    <th>Date du vol</th>
                    <th>Duration</th>
                    <th>Pilote</th>
                </tr>
                @foreach (var item in Model.TakeOffFlights)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItems => item.FlightDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItems => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modeItems => item.Pilot.FirstName) @Html.DisplayFor(modeItems => item.Pilot.LastName)
                        </td>
                        <td>
                            <a class="btn btn-primary styleLink" asp-route-id="@item.ID" asp-action="DetailsFlight">Détails</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a class="styleLink" asp-action="Edit" asp-route-id="@Model.ID">Editer</a> |
    <a class="styleLink" asp-action="Index">Retour</a>
</div>
