@model IEnumerable<ParaglidingProject.SL.Core.Site.NS.TransfertObjects.SiteDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Sites</h1>

<p>
    <a class="create" asp-action="Create" asp-route-pSiteType="ParaglidingProject.SL.Core.Site.NS.TransfertObjects.TypeSite.Landing">Créer un nouveau site d'atterrissage</a>
    <br />
    <a class="create" asp-action="Create" asp-route-pSiteType="ParaglidingProject.SL.Core.Site.NS.TransfertObjects.TypeSite.TakeOff">Créer un nouveau site de décollage</a>
</p>
<table class="table" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orientation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteGeoCoordinate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orientation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteGeoCoordinate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SiteId" class="styleLink">Editer</a> |
                <a asp-action="Details" asp-route-id="@item.SiteId" class="styleLink">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.SiteId" class="styleLink">Supprimer</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@*<dl class="row">
    <dt class="col-sm-2">
       Sites les plus fréquentés:
    </dt>
    <dd class="col-sm-10">
        @foreach(var item in ViewBag.BiggerFlightsData)
        {
            @item;
        }
    </dd>
    <dt class="col-sm-2">
       Sites les moins fréquentés:
    </dt>
    <dd class="col-sm-10">
        @foreach (var item in ViewBag.TinyFlightsData)
        {
            @item;
        }
    </dd>
</dl>*@


