@model ParaglidingProject.Models.Paraglider

@{
    ViewData["Title"] = "Details";
}

<h1>Details du parapente N°@Model.ID</h1>

<div>
    <h4>Parapente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommissioningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommissioningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastRevisionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastRevisionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParagliderModelID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParagliderModelID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Publier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
