@model IEnumerable<ParaglidingProject.Models.Paraglider>

@{
    ViewData["Title"] = "Index";
}
@{ 
    Layout = "_Layout";
}

<h1>Liste des parapentes</h1>

<p>
    <a asp-action="Create">Créer un nouveau parapente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommissioningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastRevisionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParagliderModel.ApprovalNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommissioningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastRevisionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParagliderModel.ApprovalNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Publier</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
