@model IEnumerable<ParaglidingProject.SL.Core.Paraglider.NS.TransfertObjects.ParagliderDto>

@{
    ViewData["Title"] = "Index";
}
@{ 
    Layout = "_Layout";
}

<h1>Liste des parapentes</h1>

<p>
    <a asp-action="Create">Créer un nouveau parapente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommissioningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastRevision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParagliderId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommissioningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastRevision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParagliderId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParagliderId">Editer</a> |
                <a asp-action="Details" asp-route-id="@item.ParagliderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParagliderId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
