@model ParaglidingProject.Models.ParagliderModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details du modèle numéro @Model.ID</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxWeightPilot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxWeightPilot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MinWeightPilot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinWeightPilot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApprovalNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApprovalDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paragliders)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Numéro du parapente</th>
                    <th>Date de mise en service</th>
                    <th>Date de dernière révision</th>
                    <a class="btn btn-primary" asp-route-id="@Model.ID" asp-action="CreateParagliding">Ajouter un parapente</a>
                </tr>
                @foreach (var item in Model.Paragliders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItems => item.ID) 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItems => item.CommissioningDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modeItems => item.LastRevisionDate)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-route-id="@item.ID" asp-action="DetailsParagliding">Détails</a> |
                            <a class="btn btn-primary" asp-route-id="@item.ID" asp-action="EditParagliding">Editer</a> |
                            <a class="btn btn-primary" asp-route-id="@item.ID" asp-action="DeleteParagliding">Supprimer</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Publier</a> |
    <a class="btn btn-primary" asp-action="Index">Retour à la liste</a>
</div>
