@model ParaglidingProject.SL.Core.ParagliderModel.NS.TransfertObjects.ParagliderModelAndParagliders

@{
    ViewData["Title"] = "Details";
}

<h1>Details du modèle numéro @Model.ParagliderModelDto.ID</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParagliderModelDto.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParagliderModelDto.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParagliderModelDto.MaxWeightPilot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParagliderModelDto.MaxWeightPilot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParagliderModelDto.MinWeightPilot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParagliderModelDto.MinWeightPilot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParagliderModelDto.ApprovalNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParagliderModelDto.ApprovalNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParagliderModelDto.ApprovalDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParagliderModelDto.ApprovalDate)
        </dd>
        @if(Model.ParagliderDto != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ParagliderDto)
            </dt>

            <dd class="col-sm-10">
                <table class="table">
                    <tr>
                        <th>Numéro du parapente</th>
                        <th>Date de mise en service</th>
                        <th>Date de dernière révision</th>
                        <a class="btn btn-primary" asp-route-id="@Model.ParagliderModelDto.ID" asp-action="CreateParagliding">Ajouter un parapente</a>
                    </tr>
                    @foreach (var item in Model.ParagliderDto)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItems => item.ParagliderId) 
                            </td>
                            <td>
                                @Html.DisplayFor(modelItems => item.CommissioningDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modeItems => item.LastRevision)
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-route-id="@item.ParagliderId" asp-action="DetailsParagliding">Détails</a> |
                                <a class="btn btn-primary" asp-route-id="@item.ParagliderId" asp-action="EditParagliding">Editer</a> |
                                <a class="btn btn-primary" asp-route-id="@item.ParagliderId" asp-action="DeleteParagliding">Supprimer</a>
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ParagliderModelDto.ID">Publier</a> |
    <a class="btn btn-primary" asp-action="Index">Retour à la liste</a>
</div>
