@model ParaglidingProject.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cours</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoursePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoursePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.License)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.License.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Publier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
