@model ParaglidingProject.Models.Subscription

@{
    ViewData["Title"] = "Details";
}


<h1>Details des cotisations pour @Model.YearID</h1>

<div>
    <h4>Cotisations @Model.YearID</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payments)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Pilotes</th>
                    <th>Payé?</th>
                    <th>Date de payement</th>
                    <a class="btn btn-primary" asp-route-id="@Model.YearID" asp-action="CreatePayment">Ajouter un payment</a>
                </tr>
                @foreach(var item in Model.Payments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItems => item.Pilot.FirstName) @Html.DisplayFor(modelItems => item.Pilot.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItems => item.IsPay)
                        </td>
                        <td>
                            @Html.DisplayFor(modeItems => item.DatePay)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-route-id="@item.ID" asp-action="EditPayment">Editer</a> |
                            <a class="btn btn-primary" asp-route-id="@item.ID" asp-action="DeletePayment">Supprimer</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.YearID" class="btn btn-primary">Editer</a> |*@
    <a asp-action="Index" class="btn btn-primary">Retour</a>
</div>
