@model IEnumerable<ParaglidingProject.Models.Subscription>

@{
    ViewData["Title"] = "Cotisations";
}

@{ 
    Layout = "_Layout";
}

<h1>Historique des cotisations</h1>

<p>
    <a href="/Subscriptions/Create" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YearID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YearID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a href="/Subscriptions/Edit/@item.YearID" asp-action="Edit" asp-route-id="@item.YearID">Publier</a> |
                <a href="/Subscriptions/Details/@item.YearID" asp-action="Details" asp-route-id="@item.YearID">Details</a> |
                <a href="/Subscriptions/Delete/@item.YearID" asp-action="Delete" asp-route-id="@item.YearID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
