@model IEnumerable<ParaglidingProject.Models.Subscription>

@{
    ViewData["Title"] = "Cotisations";
}

@{ 
    Layout = "_Layout";
}

<h1>Historique des cotisations</h1>

<p>
    <a asp-action="Create">Créer une nouvelle année de cotisation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YearID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YearID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price.ToString("c"))
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.YearID">Editer</a> |
                <a  class="btn btn-primary" asp-action="Details" asp-route-id="@item.YearID">Détails</a> |
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.YearID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
