@model ParaglidingProject.Models.Pilot

@{
    ViewData["Title"] = "Details";
}

@{
    Layout = "_Layout";
}

<h1>Details concernant @Model.FirstName @Model.LastName</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActif)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class=" col-sm-10">
            @ViewData["Position"]
        </dd>
        <dt class="col-sm-2">
            Nombre total d'heures de vol
        </dt>
        <dd class="col-sm-10">
            @ViewData["flightTimeTotal"]
        </dd>
        <dt class="col-sm-2">
            Nombre de vols
        </dt>
        <dd class="col-sm-10">
            @ViewData["collectionflight"]
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flights)
        </dt>
        <dd class="col-sm-10">
            <table class="table" cellspacing="0">
                <tr>
                    <th>Date du vol</th>
                    <th>Heure de début</th>
                    <th>Heure de fin</th>
                    <th>Durée du vol</th>
                    <a class="btn btn-primary styleLink" asp-route-id="@Model.ID" asp-action="CreateFlight">Ajouter un vol</a>
                </tr>
                @foreach (var item in Model.Flights)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FlightDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItems => item.FlightStart)
                        </td>
                        <td>
                            @Html.DisplayFor(modeItems => item.FlightEnd)
                        </td>
                        <td>
                            @ViewData["flightDuration"]
                        </td>
                        <td>
                            <a class="btn btn-primary styleLink" asp-route-id="@item.ID" asp-action="EditFlight">Editer</a> |
                            <a class="btn btn-primary styleLink" asp-route-id="@item.ID" asp-action="DeleteFlights">Supprimer</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Obtainings)
        </dt>
        <dd class="col-sm-10">
            <table class="table" cellspacing="0">
                <tr>
                    <th>Nom du brevet</th>
                    <th>Niveau</th>
                    <th>Date d'obtention</th>
                    <a class="btn btn-primary styleLink" asp-route-id="@Model.ID" asp-action="CreateLicense">Ajouter un brevet</a>
                </tr>
                @foreach (var item in Model.Obtainings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.License.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItems => item.License.Level.DifficultyNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modeItems => item.ObtainingDate)
                        </td>
                        <td>
                            <a class="btn btn-primary styleLink" asp-route-id="@item.ID" asp-action="EditLicense">Editer</a> |
                            <a class="btn btn-primary styleLink" asp-route-id="@item.ID" asp-action="DeleteLicense">Supprimer</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participations)
        </dt>
        <dd class="col-sm-10">
            <table class="table" cellspacing="0">
                <tr>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <a class="btn btn-primary styleLink" asp-route-id="@Model.ID" asp-action="CreateParticipations">Ajouter un cours</a>
                </tr>
                @foreach (var item in Model.Participations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItems => item.Course.EndDate)
                        </td>
                        <td>
                            <a class="btn btn-primary styleLink" asp-route-id="@item.ID" asp-action="EditParticipations">Editer</a> |
                            <a class="btn btn-primary styleLink" asp-route-id="@item.ID" asp-action="DeleteParticipations">Supprimer</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teachings)
        </dt>
        <dd class="col-sm-10">
            <table class="table" cellspacing="0">
                <tr>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <a class="btn btn-primary styleLink" asp-route-id="@Model.ID" asp-action="CreateTeachings">Ajouter un cours</a>
                </tr>
                @foreach (var item in Model.Teachings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItems => item.Course.EndDate)
                        </td>
                        <td>
                            <a class="btn btn-primary styleLink" asp-route-id="@item.ID" asp-action="EditTeachings">Editer</a> |
                            <a class="btn btn-primary styleLink" asp-route-id="@item.ID" asp-action="DeleteTeachings">Supprimer</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
<div>
    <a class="btn btn-primary styleLink" asp-action="Index">Retour</a>
</div>
