@model ParaglidingProject.Models.Pilot

@{
    ViewData["Title"] = "Details";
}

@{
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>Pilote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActif)
        </dd>
        <dt class="col-sm-2">
            Nombre total d'heures de vol
        </dt>
        <dd>
           @ViewData["flightTimeTotal"]
        </dd>
        </dl>
        <table>
            <tr>
                <th class="col-sm-2">FlightDate</th>
                <th class="col-sm-2">FlightStart</th>
                <th class="col-sm-2">FlightEnd</th>
                <th class="col-sm-2">Durée de vol</th>
                <th class="col-sm-2">Site</th>

            </tr>
            @foreach (var item in Model.Flights)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightDate);
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightStart);
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightEnd);
            </td>
            <td>
                @ViewData["flightDuration"]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site);
            </td>
        </tr>
            }

        </table>
        <br />
        <table>
            <tr>
                <td>Nbre de vols : @ViewData["collectionflight"]</td>
            </tr>
        </table>
        <br />
        <table>
            <tr>
                <th class="col-sm-3">Brevet(s) Obtenu(s)</th>
                <th class="col-sm-3">Niveau</th>
                <th class="col-sm-3">Date d'obtention</th>

            </tr>
            @foreach (var item in Model.Obtainings)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.License.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.License.Level.DifficultyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObtainingDate)
            </td>

        </tr>
            }
        </table>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Publier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
